<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <div class="blogs content">
        <h2>About Us</h2>
        <p>gives an idea of E-waste composition, categorization,  E-waste scenarios, proswed, and </p>
        <p>gives an idea of E-waste composition, categorization,  E-waste scenarios, proswed, and</p>
        <p>gives an idea of E-waste composition, categorization,  E-waste scenarios, proswed, and</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>